@model CodeV4.VM.IntroductionModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Introduction</title>
</head>
<body>
    <div>
        <h2>@Model.Name</h2>
        <p>@Model.Degree</p>
        <p>@Model.Diploma</p>
        <p>Contact Information: @Model.ContactInfo</p>
    </div>
</body>
</html>

